html,body {
  background-color:#110022;
  height:100%;
}
 
h1 {
  font-family: Arial,sans-serif
  font-size:80px;
}
 
 
/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}
 
.container-full a {
  color:#efefef;
  text-decoration:none;
}
 
.v-center {
  margin-top:7%;
}
.btn-more{
 
padding:15px 55px;
border:1px solid #fff;
border-radius:3px;
}
.btn-more:hover{
background: rgba(255,255,255,0.1);
padding:15px 95px;
transition: 1s ease;
}
