backup/
venv/

# compiled
*.pyc

# training data is about 1gb
forex/data/train_data
forex/data/definitions/*.txt
forex/data/model/dataset_X-y/*.json
forex/data/model/testset_X-y/*.json
forex/data/model/dataset_X-y/*.mat
forex/data/model/testset_X-y/*.mat
forex/data/model/archive_model/*/*.pkl

# test-dataset used to testing accuracy
forex/data/testset

# privacy rules
forex/data/dataset_axis.csv

# files used for training the model
*.mat
